.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgStyle1{
    width: 300px; 
    height: auto; 
    opacity: 0.75;
}
.imgStyle2{
    width: 500px; 
    height: auto; 
    opacity: 0.75;
}
@media only screen and (max-width: 600px) {
    #text1{
        font-size: 35px;
    }

} 
@media only screen and (min-width: 768px) {
    #text1{
        font-size: 55px;
    }
} 